# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# -----------------------------
# Data (GitHub 미포함, 폴더만 유지)
# -----------------------------
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
